body{
  padding: 15px;
  font-family: 'Courier New', Courier, monospace;
}

.cover {
  background-image: url('cover.jpeg');
  background-size: cover;
  background-position: center;
  height: 125px; /* Adjust the height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
}


.banner {
  text-align: center;
  margin-bottom: 20px;
}

.banner-image {
  border-radius: 50%;
  width: 150px; 
  height: 150px; 
}

.icon {
  width: 2rem;
}

.name {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}


.social-icons {
  text-align: center;
  margin-bottom: 20px;
}

.social-icons a {
  display: inline-block;
  margin: 0 10px;
  color: #333;
  text-decoration: none;
  font-size: 18px;
}

.social-icons a:hover {
  color: #126024; 
}

.link {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 5px 5px;
  background-color: #cacaca;
  border-radius: 500px;
}

.link-text {
  flex: 1;
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 0 5px;
  font-weight: 700;
}

.thumbnail {
  object-fit: cover;
}

.link img.thumbnail {
  width: 100px; 
  height: 100px; 
  border-radius: 50%;

}

.link a {
  display: block;
  text-decoration: none;
  color: #333;
  margin-top: 10px;
  
}

.link a:hover {
  color: #126024; 
}

.items {
  display: flex;
  margin: auto;
  flex-direction: column;
  gap: 30px;
  max-width: 640px;
  gap: 30px;
}
